body {
    min-height: 100vh;
    margin: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 72px;
}

#nav-bar {
    background-color: white;
    padding-left: 16px;
    padding-right: 16px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.add-button {
    background-color: white;
    border: 2px solid orangered;
    color: orangered;
    font-weight: bold;
    font-size: 48px;
    border-radius: 10px;
    width: 150px;
    height: 100px;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
}

.add-button:hover {
    background-color: orangered;
    color: white;
    font-size: 20px;
}

.nav-bar-options {
    list-style-type: none;
    margin: 0;
    display: flex;
    gap: 36px;
    padding: 8px;
}

.link {
    font-weight: bold;
    text-decoration: none;
    color: orangered;
    border-radius: 5px;
    padding: 8px;
}

.link:hover {
    color: white;
    background-color: orangered;
}

#bug-list {
    display: flex;
    flex-direction: column;
    margin: 32px;
    gap: 32px;
}

.bug-title {
    margin: 0;
}

.tile {
    border: 2px solid orangered;
    padding: 8px 16px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 12px;
}

.tile-header {
    display: flex;
    gap: 20px;
}

.severity, .status{
    font-size: 14px;
    border-radius: 20px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    color: white;
}

.high {
    background-color: red;
}

.medium {
    background-color: yellow;
    color: black;
}

.low {
    background-color: green;
}

.unresolved {
    background-color:darkblue
}

.resolved {
    background-color: chartreuse;
    color: black;
}

.footer {
    background-color: orangered;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    height: 75px;
}